.banner {
    background: var(--azul-gradiente);
    color: var(--branco);
    text-align: center;
    padding: 2.5em 2em;
}

.banner-titulo {
    font-size: 18px;
    font-weight: 700;
}

.banner-texto {
    font-weight: 500;
    margin: 1em 0;
}

.banner-busca {
    background-color: transparent;
    border: 1px solid var(--branco);
    color: var(--branco);
    border-radius: 24px;
    padding: 1em;
    width: 100%;
}

.banner-busca::placeholder {
    font-family: var(--fonte-principal);
    font-size: 14px;
    font-weight: 400;
    color: var(--branco);
    text-align: center;
    background: url(../assets/lupa.svg) no-repeat;
    background-position: 0.5em;
}

@media screen and (min-width: 1024px) {
    .banner-titulo {
        font-size: 36px;
    }

    .banner-busca {
        width: 50%;
    }

    .banner-busca::placeholder {
        background-position: 6em;
    }
    
}