.menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url(../assets/menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container-img {
    padding: 1em;
}

.lista-menu { 
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container-botao:checked ~.lista-menu { 
    display: block;
}

.lista-titulo, .lista-itens {
    padding: 1em;
    background-color: var(--branco);
}

.lista-titulo { 
    color: var(--laranja);
    font-weight: 700;
}

.lista-links {
    color: var(--azul-gradiente);
    text-decoration: none;
    -webkit-background-clip: text;
    background-clip: text;
    text-transform: uppercase;
}

.container-botao {
    display: none;
}

.container-titulo {
    display: none;
}

.opcoes {
    display: none;
}

.container-texto {
    display: none;
}

@media screen and (min-width: 1024px) {
    .container-titulo, 
    .container-titulo-negrito {
        font-family: var(--fonte-secundaria);
        font-size: 30px;
    }

    .container-titulo {
        font-weight: 400;
        padding-left: 0.5em;
        display: block;
    }

    .container-titulo-negrito {
        font-weight: 700;
    }

    .opcoes {
        display: flex;
    }

    .opcoes-item {
        padding: 0 1em;
        font-size: 16px;
        color: var(--azul);
        text-decoration: none;
        text-transform: uppercase;
        color: var(--preto);
    }

    .opcoes-link {
        text-decoration: none;
        color: var(--preto);
    }

    .container-img-desaparece {
        display: none;
    }

    .menu-hamburguer {
        display: none;
    }

    .container-logo {
        padding-left: 1em;
    }

    .opcoes-botao:checked ~ .lista-menu {
        display: block;
        width: auto;
    }

    .opcoes-botao {
        display: none;
    }

    .container-texto {
        display: none;
    }
}

@media screen and (min-width: 1728px) {
    .container-link {
        display: flex;
        text-decoration: none;
        align-items: center;
        color: var(--preto);
    }

    .cabecalho {
        padding: 0 2em;
    }

    .opcoes {
        margin-right: auto;
    }
}
