hr {
    margin: 0;
}

.rodape {
    background-color: var(--branco);
    padding: 1em;
    font-family: var(--fonte-principal);
    font-size: 16px;
    color: black;
}

.lista-rodape {
    display: none;
}

@media screen and (min-width: 1024px) {
    .rodape {
        display: flex;
        justify-content: space-around;
    }

    .lista-rodape {
        display: block;
    }

    .lista-rodape-item {
        display: flex;
        align-items: center;
        margin: 0.7em 0;
    }

    .lista-rodape-link {
        color: var(--cinza);
        text-decoration: none;
        margin-left: 0.6em;
    }

    .lista-rodape-titulo {
        font-size: 14px;
        color: var(--cinza2);
        margin: 4em 0 1.8em 0;
    }

    .titulo-rodape {
        font-size: 24px;
        margin-top: 2.3em;
    }
}

@media screen and (min-width: 1728px) {
    .lista-rodape {
        border-left: 1px solid var(--cinza2);
        padding-left: 1.25em;
    }

    .rodape {
        padding: 3em 0;
    }
}